<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lph.excloudapiexchange.mapper.TradeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lph.excloudapiexchange.entity.Trade">
        <id column="id" property="id" />
        <result column="price" property="price" />
        <result column="token" property="token" />
        <result column="trade_time" property="trade_time" />
    </resultMap>

</mapper>
